
body{

    background: linear-gradient(red,lightgreen);
background-repeat:no-repeat ;
background-attachment: fixed;

}
.buttonanimation{

    button {
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #04AA6D;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
      
      button:hover {background-color: #3e8e41}
      
      button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
}
 
  .container1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateX(-25%) translateY(-50%);
}
.container2 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateX(-45%) translateY(-50%);
}
.container3 {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translateX(-63%) translateY(-50%);
}
.box {
    width: 500px;
    height: 50px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: 3px  red;
    margin-top: 100px;
   margin-bottom: 100px;
   margin-right: 150px;
   margin-left: 80px;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-30%) translateY(-10%);
    border-style: dashed;
    border-width: thick;
    border-radius: 10px;
    background-color: white;
  }

  .containerworkout {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translateX(-45%) translateY(-50%);
}

.containerworkout2 {
  position: absolute;
  top: 80%;
  left: 45%;
  transform: translateX(-45%) translateY(-50%);
}

